{% extends 'main_tech.html' %}
{% block content %}

<div class="container">
     <h1>{{cuurentTech}} Returned Tickets</h1>
     <div class="ticket-list">
          {% for ticketList in ticketLists %}
               <div class="ticket">
                    <form method="POST" action="details/{{ticketList.id}}">
                         {% csrf_token %}
                         <h3 class="ticket-title">{{ticketList.id}}</h3>
                         <p class="ticket-status">{{ticketList.Title}}</p>
                         <button type="submit" class="view-button">View Ticket</button>
                    </form>
               </div>
          {% endfor %}
     </div>
</div>

{% endblock content %}